.nav{
    grid-area: n;
    background-color: #EDEEF0;
    margin: 10px;
    border-radius: 5px;
}
/*.item{*/
/*    color: #557790;*/

/*}*/
.item:hover{
    background-color: #D1D9E0;
}
.item a.active{
    color: gold;

}
.item a{
    color: #557790;
    text-decoration: none;
    font-weight:normal;
    font-size: 15px;
    padding-left: 45px;
}
h2{
    color: #557790;
    margin-left: 45px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.friendBlock{
    display: flex;
    justify-content: space-around;
}
.friendOne{
   text-align: center;

}
